<html>
    <head>
        <link href='//fonts.googleapis.com/css?family=Roboto:200,400,600' rel='stylesheet' type='text/css'>
        <link href='style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="header">
            <h1>2021/22 Salary Brackets (UK)</h1>
            <p>
                An informal and unofficial guide to the different salary brackets and thresholds at which different things start to happen, what to watch out for and how to maximise your salary. This applies almost entirely to PAYE employees only.
            </p>
        </div>
        <div class="history-tl-container">
            <ul class="tl">
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;0</div>
                    <div class="item-title">Income Tax: Personal Allowance</div>
                    <div class="item-detail">
                        <p>
                            Congratulations! You are part of the tax system, but do not currently need to pay tax or national insurance.
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;6,240</div>
                    <div class="item-title">National Insurance: Lower Earning Limit (LEL)</div>
                    <div class="item-detail">
                        <p>
                            You will begin accrue NI credits without paying any NI. See <a href="https://www.gov.uk/national-insurance/what-national-insurance-is-for">https://www.gov.uk/national-insurance/what-national-insurance-is-for</a> for information on what benefits you accrue with NI credits.
                        </p>
                        <p>
                            Further information on NI rates can be found on the <a href="https://www.gov.uk/government/publications/rates-and-allowances-national-insurance-contributions/rates-and-allowances-national-insurance-contributions">rates and allowances page</a> on the gov.uk website.
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;9,564</div>
                    <div class="item-title">National Insurance: Primary Threshold (PT)</div>
                    <div class="item-detail">
                        <p>
                            You will begin to pay National Insurance (12%) on everything between &#163;797 and &#163;4189 a month.
                        </p>
                        <p>
                            The only way to avoid paying this is to utilise <a href="https://www.gov.uk/guidance/salary-sacrifice-and-the-effects-on-paye">salary sacrifice</a> to effectively lower your salary. Any other form of pension contributions (relief at source or net pay arraangements) will continue to incur NI on them.
                        </p>
                        <p>
                            Further information on NI rates can be found on the <a href="https://www.gov.uk/government/publications/rates-and-allowances-national-insurance-contributions/rates-and-allowances-national-insurance-contributions">rates and allowances page</a> on the gov.uk website.
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;12,570</div>
                    <div class="item-title">Income Tax: Basic rate</div>
                    <div class="item-detail">
                        <p>
                            You are now a basic rate tax payer and your marginal tax rate is now 20%. You will pay income tax at 20% on everything above the basic rate threshold, but will continue to receive a personal allowance on which you pay nothing.
                        </p>
                        <p>
                            You can use a variety of methods to avoid paying tax at this point (up to the higher rate band):
                            <ul>
                                <li>
                                    Use any pension contribution method (relief at source, net pay, salary sacrifice) to contribution to your employer or personal pension
                                </li>
                                <li>
                                    Transfer up to &#163;1,260 of your spouse's personal allowance to yourself (assuming they are also a basic rate tax payer) using the <a href="https://www.gov.uk/marriage-allowance">marriage allowance</a>
                                </li>
                                <li>
                                    Use salary sacrifice to make purchases through your employer, for example: additional PTO days and the <a href="https://www.cyclescheme.co.uk">cycle to work scheme</a> to effectivley lower your salary
                                </li>
                                <li>
                                    Use venture capital schemes (<a href="https://www.gov.uk/guidance/venture-capital-schemes-apply-for-the-enterprise-investment-scheme">EIS</a>, <a href="https://www.gov.uk/guidance/venture-capital-schemes-apply-to-use-the-seed-enterprise-investment-scheme">SEIS</a>, <a href="https://www.gov.uk/guidance/venture-capital-schemes-apply-to-use-social-investment-tax-relief">SITR</a>, <a href="https://www.gov.uk/guidance/venture-capital-schemes-tax-relief-for-investors">VCT</a>) to claim 30% or 50% of your investments against your income tax
                                </li>
                            </ul>
                        </p>
                        <p>
                            Further information on income tax rates and tax bands can be found on <a href="https://www.gov.uk/income-tax-rates">https://www.gov.uk/income-tax-rates</a>.
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;17,570</div>
                    <div class="item-title">Personal Savings Allowance: Starting rate</div>
                    <div class="item-detail">
                        <p>
                            You are no longer eligible for the &#163;5,000 <a href="https://www.gov.uk/apply-tax-free-interest-on-savings">personal savings allowance starter</a> and will have the usual allowance of &#163;1,000 tax-free interest on savings as a basic rate tax payer.
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;19,895</div>
                    <div class="item-title">Student Loan: Plan 1 repayment threshold</div>
                    <div class="item-detail">
                        <p>
                            You will begin to pay any Plan 1 Student Loan debt. You will repay 9% of everything earned above &#163;19.895 - earn less and you don't repay. This is effectively a 9% addition to your marginal tax rate. 
                        </p>
                        <p>
                            The only way to avoid paying this is to utilise <a href="https://www.gov.uk/guidance/salary-sacrifice-and-the-effects-on-paye">salary sacrifice</a> to effectively lower your salary. Any other form of pension contributions (relief at source or net pay arraangements) will continue to incur student loan repayments on them.
                        </p>
                        <p>
                            Further information on student loan repayment thresholds and rates can be found on <a href="https://www.gov.uk/repaying-your-student-loan">https://www.gov.uk/repaying-your-student-loan</a>.
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;21,000</div>
                    <div class="item-title">Student Loan: Postgraduate repayment threshold</div>
                    <div class="item-detail">
                        <p>
                            You will begin to pay any postgraduate loan debt. You will repay 6% of everything earned above &#163;21,000 – earn less and you don't repay. This is effectively a 6% addition to your marginal tax rate and is additive to any other student loan repayments you need to make.
                        </p>
                        <p>
                            Once you're eligible to start repaying, you will only actually repay if you're earning above &#163;1,750 a month or &#163;404 per week – equivalent to &#163;21,000 a year. In Scotland, you need to be earning over &#163;25,000 a year, and in Northern Ireland, it's just &#163;19,895 a year.
                        </p>
                        <p>
                            The amount you repay for postgraduate loans is 6% (9% in Scotland and Northern Ireland) of everything above that, this is lower than undergraduate loans which are set at 9% above the threshold. 
                        </p>
                        <p>
                            The only way to avoid paying this is to utilise <a href="https://www.gov.uk/guidance/salary-sacrifice-and-the-effects-on-paye">salary sacrifice</a> to effectively lower your salary. Any other form of pension contributions (relief at source or net pay arraangements) will continue to incur student loan repayments on them.
                        </p>
                        <p>
                            Further information on student loan repayment thresholds and rates can be found on <a href="https://www.gov.uk/repaying-your-student-loan">https://www.gov.uk/repaying-your-student-loan</a>.
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;27,295</div>
                    <div class="item-title">Student Loan: Plan 2 repayment threshold</div>
                    <div class="item-detail">
                        <p>
                            You will begin to pay any Plan 2 Student Loan debt. You will repay 9% of everything earned above &#163;27,295 - earn less and you don't repay. This is effectively a 9% addition to your marginal tax rate. 
                        </p>
                        <p>
                            The only way to avoid paying this is to utilise <a href="https://www.gov.uk/guidance/salary-sacrifice-and-the-effects-on-paye">salary sacrifice</a> to effectively lower your salary. Any other form of pension contributions (relief at source or net pay arraangements) will continue to incur student loan repayments on them.
                        </p>
                        <p>
                            Further information on student loan repayment thresholds and rates can be found on <a href="https://www.gov.uk/repaying-your-student-loan">https://www.gov.uk/repaying-your-student-loan</a>.
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;50,268</div>
                    <div class="item-title">National Insurance: Upper Earnings Limit (UEL)</div>
                    <div class="item-detail">
                        <p>
                            Your NI rate will drop to 2% on any earnings above above &#163;4189 a month, you will continue to pay 12% NI on the amount between the primary threshold and upper earnings limit. This is calculated and paid per pay-period and isn't assessed holistically at the end of the tax-year.
                        </p>
                        <p>
                            The only way to avoid paying this is to utilise <a href="https://www.gov.uk/guidance/salary-sacrifice-and-the-effects-on-paye">salary sacrifice</a> to effectively lower your salary. Any other form of pension contributions (relief at source or net pay arraangements) will continue to incur NI on them. You can also use <a href="https://zainp.com/increase-your-net-with-salary-sacrifice/">salary sacrifice creatively</a> to get both 12% NI relief as well as 40% tax relief (if applicable).
                        </p>
                        <p>
                            Further information on NI rates can be found on the <a href="https://www.gov.uk/government/publications/rates-and-allowances-national-insurance-contributions/rates-and-allowances-national-insurance-contributions">rates and allowances page</a> on the gov.uk website.
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;50,270</div>
                    <div class="item-title">Income Tax: Higher rate</div>
                    <div class="item-detail">
                        <p>
                            You are now a higher rate tax payer and your marginal tax rate is now 40%. You will pay income tax at 40% on everything above the higher rate threshold, but will continue to pay 20% tax on the basic rate band and continue to receive a personal allowance.
                        </p>
                        <p>
                            You can use a variety of methods to avoid paying tax at this point (up to the additional rate band):
                            <ul>
                                <li>
                                    Use any pension contribution method (relief at source, net pay, salary sacrifice) to contribution to your employer or personal pension. Note that any pension contributions using the relief at source scheme (for example, where you make contributions to a SIPP) will require you to claim the additional 20% tax relief (the pension provider will automatically make a 25% top-up to any contributions) from the higher rate tax band. You can either submit a self-assessment or contact HMRC via phone, chat or writing to request an amendment of your personal allowance to reclaim the tax.
                                </li>
                                <li>
                                    Use salary sacrifice to make purchases through your employer, for example: additional PTO days and the <a href="https://www.cyclescheme.co.uk">cycle to work scheme</a> to effectivley lower your salary
                                </li>
                                <li>
                                    Use venture capital schemes (<a href="https://www.gov.uk/guidance/venture-capital-schemes-apply-for-the-enterprise-investment-scheme">EIS</a>, <a href="https://www.gov.uk/guidance/venture-capital-schemes-apply-to-use-the-seed-enterprise-investment-scheme">SEIS</a>, <a href="https://www.gov.uk/guidance/venture-capital-schemes-apply-to-use-social-investment-tax-relief">SITR</a>, <a href="https://www.gov.uk/guidance/venture-capital-schemes-tax-relief-for-investors">VCT</a>) to claim 30% or 50% of your investments against your income tax
                                </li>
                            </ul>
                        </p>
                        <p>
                            At this point, you lose a couple of benefits:
                            <ul>
                                <li>
                                    You and your spouse are no longer eligible for the <a href="https://www.gov.uk/marriage-allowance">marriage allowance</a>
                                </li>
                                <li>
                                    Your <a href="https://www.gov.uk/apply-tax-free-interest-on-savings">personal savings allowance</a> drops to &#163;500
                                </li>
                                <li>
                                    You or your spouse pay the <a href="https://www.gov.uk/child-benefit-tax-charge">high income child benefit charge</a> if you are claiming child benefit. You can choose to either receive child benefit and pay the charge at the end of the tax year, or not get child benefit and pay nothing. The reason you may want to consider claiming and paying is to ensure you or your spouse can claim NI credit without working. You can also claim NI credits by opting out of the benefit and filling out the claim form appropriaately. 
                                </li>
                            </ul>
                        </p>
                        <p>
                            Further information on income tax rates and tax bands can be found on <a href="https://www.gov.uk/income-tax-rates">https://www.gov.uk/income-tax-rates</a>.
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;80,000</div>
                    <div class="item-title">Shared Ownership (ex. London): Eligibility</div>
                    <div class="item-detail">
                        <p>
                            You will no longer be eligible for shared ownership properties outside London. More information about the shared ownership scheme and income-related eligibility can be found at <a href="https://www.sharetobuy.com/guides-and-faqs/shared-ownership-eligibility/">https://www.sharetobuy.com/guides-and-faqs/shared-ownership-eligibility/</a>.
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;90,000</div>
                    <div class="item-title">Shared Ownership (London): Eligibility</div>
                    <div class="item-detail">
                        <p>
                            You will no longer be eligible for shared ownership properties inside London. More information about the shared ownership scheme and income-related eligibility can be found at <a href="https://www.sharetobuy.com/guides-and-faqs/shared-ownership-eligibility/">https://www.sharetobuy.com/guides-and-faqs/shared-ownership-eligibility/</a>.
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;100,000</div>
                    <div class="item-title">Income Tax: Personal Allowance Taper</div>
                    <div class="item-detail">
                        <p>
                            At &#163;100,000, you become liable for the <a href="https://www.gov.uk/income-tax-rates/income-over-100000">personal allowance taper</a> where your personal allowance decreases by &#163;1 for every &#163;2 that your adjusted net income is above the &#163;100,000 threshold.
                        </p>
                        <p>
                            At this point, the following applies:
                            <ul>
                                <li>
                                    You need to begin submitting a <a href="https://www.gov.uk/self-assessment-tax-returns">self-assessment tax return</a> to HMRC. You may face tax penalties if you do not submit those tax returns.
                                </li>
                                <li>
                                    You are no longer eligible for <a href="https://www.gov.uk/tax-free-childcare">tax-free childcare</a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;150,000</div>
                    <div class="item-title">Income Tax: Additional rate</div>
                    <div class="item-detail">
                        <p>
                            You will begin to pay income tax at 45% as an additional rate tax payer.
                        </p>
                        <p>
                            You can the same methods as higher rate tax payers to avoid tax at this point.
                        </p>
                        <p>
                            At this point, the following applies:
                            <ul>
                                <li>
                                    Your <a href="https://www.gov.uk/apply-tax-free-interest-on-savings">personal savings allowance</a> drops to &#163;0 and you need to declare and pay tax on any interest you earn on taxable savings at your marginal tax rate. You may wish to utilise <a href="https://www.nsandi.com/products/premium-bonds">premium bonds</a> or cash ISA's (unlikely) to avoid paying this.
                                </li>
                            </ul>
                        </p>
                        <p>
                            Further information on income tax rates and tax bands can be found on <a href="https://www.gov.uk/income-tax-rates">https://www.gov.uk/income-tax-rates</a>.
                        </p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="TBC">
                    <div class="timestamp">&#163;240,000</div>
                    <div class="item-title">Income Tax: Annual Pension allowance taper</div>
                    <div class="item-detail">
                        <p>
                            Calculating whether your income reaches this threshold becomes slightly more complicated as you can no longer claim a reduced threshold from salary sacrifice, but must include this in your adjusted gross income calculations. The relevant calculations for the threshold and adjust income can be found at <a href="https://www.gov.uk/guidance/pension-schemes-work-out-your-tapered-annual-allowance">https://www.gov.uk/guidance/pension-schemes-work-out-your-tapered-annual-allowance</a>.
                        </p>
                        <p>
                            For every &#163;2 that your 'adjusted income' goes over &#163;240,000 your annual allowance will decrease linearly till it reaches &#163;4,000 when your 'adjust income' is &#163;312,000.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>
