body {
  line-height: 1.3em;
}

.header {
  font-family: "Roboto", sans-serif;
  display: block;
  position: relative;
  line-height: initial;
}

.header h1 {
  margin-top: 30px;
  text-align: center;
}

.header p {
  margin: 30px 10%;
  font-size: 1rem;
}

.history-tl-container {
  font-family: "Roboto", sans-serif;
  width: 60%;
  margin: auto;
  display: block;
  position: relative;
}

.history-tl-container ul.tl {
  margin: 20px 0;
  padding: 0;
  display: inline-block;
}

.history-tl-container ul.tl li.tl-item {
  list-style: none;
  margin: auto;
  min-height: 50px;
  /* background: rgba(200, 200, 200, 0.1); */
  border-left: 1px dashed #86d6ff;
  padding: 0 0 50px 40px;
  position: relative;
  display: flex;
}

.history-tl-container ul.tl li.tl-item:last-child {
  border-left: 0;
}

.history-tl-container ul.tl li.tl-item .item::before {
  position: absolute;
  left: -59px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #258cc7;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.history-tl-container ul.tl li.tl-item .item {
  position: relative;
}

.history-tl-container ul.tl li.tl-item:hover::before {
  border-color: #258cc7;
  transition: all 1000ms ease-in-out;
}

ul.tl li.tl-item .item-detail {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
}

ul.tl li.tl-item .timestamp {
  color: #8d8d8d;
  position: absolute;
  width: 100px;
  left: -130px;
  text-align: right;
  font-size: 16px;
}

div.item-title a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 800px) {
  .header p {
    margin: 30px 20%;
  }
  .history-tl-container {
    width: 40%;
  }
}

@media screen and (min-width: 600px) {
  ul.tl li.tl-item .timestamp {
    left: -170px;
  }
  .history-tl-container {
    width: 40%;
  }
}
